.App {
    font-family: sans-serif;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: rgb(231, 230, 230);
    overflow-y: scroll;
    --secondary: rgb(161, 161, 161);
    --divider: #343434;
}